# requirements.txt
# Для калькулятора на чистом tkinter внешних зависимостей не нужно.
# Добавь сюда нужные пакеты, если будешь расширять функционал:

# customtkinter==5.2.2   # если захочешь современный UI
# pillow==10.2.0         # для работы с иконками и картинками